name: DigiCert Code Scan

on:
  workflow_dispatch:

jobs:
  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ${{ (matrix.language == 'swift' && 'macos-latest') || 'ubuntu-latest' }}

    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - language: Java
            build-mode: none
          - language: JavaScript
            build-mode: none
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: '/language:${{matrix.language}}'
          upload: false
          output: "codeql-${{ matrix.language }}.sarif"
    
  artifact:
    name: Prepare Sarif Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Zip SARIF results
        if:  always()
        run: |
          zip codeql-sarif-results.zip *.sarif || echo "No SARIF files found"
  
      - name: Upload zipped SARIF results as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: codeql-sarif-results
          path: codeql-sarif-results.zip

  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Trivy to generate SBOM
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          format: 'cyclonedx'
          output: 'sbom-cdxgen.cyclonedx.json'
      
      - name: Upload SBOM as artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-cdxgen
          path: |
            sbom-cdxgen.cyclonedx.json
